.w{
    color: blue;
}
#d{
    color: aqua;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}
body{
    background-color: rebeccapurple;
}
#dog1{
    background: black;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    transition: 2s;
}
#dog1:hover{
    transform: scale(0.1);
    
}
#dog2{
    background: khaki;
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin-top: 99px;
    transition: 3s;
}
#dog2:active{
    transform: rotate(500deg);
}
#sister1{
    background: brown;
    width: 200px;
    height: 200px;
    border-radius: 254px;
    margin-top: 99px;
    transition: 1s;
}
#sister1:active{
    transform: translate(-0px,100px );
}                           
#f{
    background: brown;
    width: 630px;
    height: 290px;
    border-radius: px;
    
    margin-top: 99px
}
