#s{
    background-image: url(datvebiromlebicmusaoben.png);
    height: 456px;
    color: aquamarine;
}
#f{
    background-image: url(Screenshot\ 2024-03-22\ 213128.png);
    height: 440px;
    color: aqua;
}